:root{
    --main-bg-color: lightgray;
    --main-font-color: #175a42;
    --device-width: ;
}

body{
    background-color:  var(--main-bg-color);
    font-size: 38;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    height: 100%;
    width: auto;
    color: var(--main-font-color);
}

div{
    display: flex;
    justify-content: space-around;
    /*border: 1px solid black;*/
    width: 150px;
    height: 50px;
    display: flex;
    padding: 10px;
}

.header{
    width: auto;
    height: 100px;
    background-color: #175a42;  
    display: flex;
    align-content: space-around;
}

#logo{
    width: 100px;
    height: 50px;
    background-color: lightblue;
    display: block;
    box-align: left 10px;
}

.pages{
    background-color: #ffe762 ;
    width: 90%;
    height: 33.33%;
    border: 1px solid black;
    display: grid;
    align-content: center;
}

#botHr{
    bottom: 10px;
    height: 750px;
    gap: 10px;
}

.row{
    width: 1%;
    padding: 0;
}

/*.row:after {
    content: "";
    display: table;
    clear: both;
  }
*/
#news{
    float: none;
    margin-right: 100px;
    display: block;
    color: var(--main-font-color);
}

.pgsHeader{
    align-items: center;
    background-color: #ffe762;
    width: 33.33%;
    padding: auto;
    display: flex;
}

/*#pages{
    padding: 0.5%;
}*/

.headPage{
    padding: 5px;
    text-align: center;
    align-items: justify;
    color: var(--main-font-color);
}

#userName{
    display: flex;
}

#userFoto{
    border: 1px solid black;
    float: inline-end;
}