body{
    background-color:  lightgray;
    font-size: 38;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    height: 100%;
    width: auto;

}

div{
    /*border: 1px solid black;*/
    width: 150px;
    height: 50px;
    display: flex;
    padding: 10px;
}

.header{
    width: auto;
    height: 100px;
    background-color: #175a42;  
}

#logo{
    width: 100px;
    height: 50px;
    background-color: lightblue;
    display: block;
    box-align: left 10px;
}

.pages{
    background-color: #ffe762 ;
    width: 33.33%;
    height: 80%;
    border: 1px solid black;
}

#botHr{
    bottom: 10px;
}

.row{
    width: 1%;
    padding: 0;
}

/*.row:after {
    content: "";
    display: table;
    clear: both;
  }
*/
#news{
    float: none;
    margin-right: 30px;
    display: block;
    color: #175a42;
}

.pgsHeader{
    align-items: center;
    background-color: #ffe762;
    width: 33.33%;
    padding: auto;
}

/*#pages{
    padding: 0.5%;
}*/

.headPage{
    padding: 5px;
    text-align: center;
    align-items: justify;
    color: #175a42;
}

.pages::selection{
    border: #fffcfc;
}